:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-color-2: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000000;
  --clients-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*HEADER*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-logo-color);
  margin-right: 93px;
  animation-duration: 500ms;
  animation-iteration-count: 2;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.contact-list {
  display: flex;
}

.contact-tel {
  margin-left: 50px;
}

.contact-email-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-web {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.order {
  background-color: var(--background-color);
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
  position: relative;
}

.menu-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  display: block;
  bottom: -32px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu .menu-link.current {
  color: var(--accent-color);
}

.email {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover,
.tel:hover,
.email:focus,
.tel:focus {
  color: var(--accent-color);
}

/*HERO SECTION*/

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../images/hero/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}

.section-title {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section-item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-text {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.basis-container {
  width: 1170px;
  height: 101px;
}

/*NATURE*/

.nature {
  display: flex;
}

.section-nature {
  width: 270px;
}

.section-nature:not(:last-child) {
  margin-right: 30px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-color-2);
  border-radius: 4px;
  margin-bottom: 30px;
}

.section-features {
  padding-bottom: 94px;
}

/*OUR WORKS*/

.our-works {
  display: flex;
}

.our-works-items:not(:last-child) {
  margin-right: 30px;
}

.section-works {
  padding-bottom: 94px;
}

.works-item {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  text-align: center;
  padding: 27px 82px;
  transform: translateY(-100%);
}

.works-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/*OUR TEAM*/

.section-team {
  background-color: var(--background-color-2);
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0px auto;
}

.team-members {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-post {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.members {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}

.members-item {
  /* flex-basis: calc(100% - 120px) / 4; */
  margin-left: 30px;
  background: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(51, 42, 42, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-text-color);
  fill: var(--clients-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  fill: var(--secondary-text-color);
  background-color: var(--accent-color);
}

/* CLIENTS*/
.regular-clients-title {
  font-size: 36px;
  color: var(--primary-text-color);
  text-align: center;
  margin: 0%;
  margin-bottom: 50px;
}
.regular-clients-list {
  display: flex;
  flex-basis: calc(100% / 6 - 30px);
  flex-wrap: wrap;
  margin-right: -30px;
}

.clients-list {
  margin-right: 30px;
}

.clients-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--clients-color);
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover,
.clients-icon:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* FOOTER */

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer-contacts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
}

.footer-contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

.footer-contacts-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-web {
  color: var(--accent-color);
}

.socials-footer-title {
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-style: normal;
  line-height: 1.17;
}

.socials-footer-list {
  display: flex;
}

.socials-list {
  margin-right: 10px;
  cursor: pointer;
}

.socials-footer-icons {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-footer-icons:hover,
.socials-footer-icons:focus {
  background-color: var(--accent-color);
}

.social-icon-footer {
  fill: var(--secondary-text-color);
}

.footer-socials {
  margin-left: 70px;
}

.footer-container {
  display: block;
}

.footer-wrapper {
  display: flex;
}

.socials-footer-lists {
  display: flex;
}

.socials-item {
  margin-left: 10px;
}

/*PORTFOLIO BUTTONS*/

.portfolio {
  color: var(--primary-text-color);
  background-color: var(--background-color-2);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover,
.portfolio:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

/* .portfolio.all {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
} */

.product-title {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-name {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.menu-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-btn:not(:last-child) {
  margin-right: 8px;
}

.list-btn {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-btn:hover,
.list-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.product {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  background: var(--secondary-text-color);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-item {
  display: block;
}

.product-list {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.product-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--accent-color);
  background: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--secondary-text-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-item:hover .overlay,
.product-item:focus .overlay {
  transform: translateY(0%);
}

/*MODAL MIRROW*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--secondary-text-color);
  transform: translate(-50%, -50%);
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-form-field {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 6px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-color: var(--accent-color);
}
